body {
  font-size: medium;
}

a {
  /* text-decoration: none; */
  /* That looks interesting */
}

#wrapper {
  height: auto !important;
  margin: 0 auto -21pt; /* For footer */
  min-height: 100%;
}

div#header {
  font-size: 2em;
  background-color: #3d3d3d;
  border-bottom: solid 2px #000000;
  padding: 0.25em;
  color: #ffffff;
}

div#content {
  margin: 0.5em;
}

table {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 9pt;
  border-collapse: separate; /* Fighting with boilerplate.css here. */
}

table td, table th {
  padding: 0.45em 0.4em;
}

td {
  border-right: 1px solid #E0E0E0;
}

th {
  background-color: #5D5D5D;
  background: -moz-linear-gradient(top, #5D5D5D, #4D4D4D);
  background: -webkit-linear-gradient(top, #5D5D5D, #4D4D4D);
  background: -o-linear-gradient(top, #5D5D5D, #4D4D4D);
  color: #FFFFFF;
  text-align: center;

  border-right: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
}

tr:nth-child(even) {
  background-color: #eee;
}

table#downloads td.green {
  background: -moz-linear-gradient(top, #00B40C, #03A90E);
  background: -webkit-linear-gradient(top, #00B40C, #03A90E);
  background: -o-linear-gradient(top, #00B40C, #03A90E);
  
  border-right: 1px solid #148420;
  border-bottom: 1px solid #148420;
  
  color: #ffffff; 
}

table#downloads td.orange {
  background: -moz-linear-gradient(top, #DE9116, #CC8512);
  background: -webkit-linear-gradient(top, #DE9116, #CC8512);
  background: -o-linear-gradient(top, #DE9116, #CC8512);
  
  border-right: 1px solid #A86E0F;
  border-bottom: 1px solid #A86E0F;
  
  color: #ffffff; 
}

table#downloads td:hover {
  background: -moz-linear-gradient(top, #0099c7, #0294C1);
  background: -webkit-linear-gradient(top, #0099c7, #0294C1);
  background: -o-linear-gradient(top, #0099c7, #0294C1);
  
  border-right: solid 1px #077A9C;
  border-bottom: solid 1px #077A9C;
  
  cursor: pointer;
}

table#downloads td a {
  color: #ffffff;
  text-decoration: none;
}


/* Awesome buttons :P */

a.button {
  border-radius: 2px 2px 2px 2px;
  background: -moz-linear-gradient(top, #f7f7f7, #ebebeb);
  background: -webkit-linear-gradient(top, #f7f7f7, #ebebeb);
  background: -o-linear-gradient(top, #f7f7f7, #ebebeb);
  text-decoration: none;
  color: #3d3d3d;
  padding: 5px;
  border: solid 1px #9d9d9d;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: small;
}

a.button.active {
  background: -moz-linear-gradient(top, #00B40C, #03A90E);
  background: -webkit-linear-gradient(top, #00B40C, #03A90E);
  background: -o-linear-gradient(top, #00B40C, #03A90E);
  border: solid 1px #148420;
  color: #ffffff;
}

a.button.warning {
  background: -moz-linear-gradient(top, #DE9116, #CC8512);
  background: -webkit-linear-gradient(top, #DE9116, #CC8512);
  background: -o-linear-gradient(top, #DE9116, #CC8512);
  border: solid 1px #A86E0F;
  color: #ffffff;
}

a.button.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

a.button.middle {
  border-radius: 0;
  border-left: 0;
}

a.button.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

a.button:hover {
  background: -moz-linear-gradient(top, #0099c7, #0294C1);
  background: -webkit-linear-gradient(top, #0099c7, #0294C1);
  background: -o-linear-gradient(top, #0099c7, #0294C1);
  border: solid 1px #077A9C;
  color: #ffffff;
}

a.button.middle:hover, a.button.right:hover {
  border-left: 0;
}

a.button span.download {
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin: auto 3px auto auto;
  height: 15px;
  width: 14px;
  position: relative;
  background-position: 0 -30px;
  top: 3px;
}

a.button span.book {
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin: auto 3px auto auto;
  height: 15px;
  width: 14px;
  position: relative;
  background-position: 0 0;
  top: 3px;
}

a.button.active span.download, a.button.warning span.download, a.button:hover span.download {
  background-position: 0 -45px;
}

a.button.active span.book, a.button.warning span.book, a.button:hover span.book {
  background-position: 0 -15px;
}

div#header a.button {
  float: right;
  margin-top: 5px;
}

div#footer {
  background-color: #5D5D5D;
  background: -moz-linear-gradient(top, #5D5D5D, #4D4D4D);
  background: -webkit-linear-gradient(top, #5D5D5D, #4D4D4D);
  background: -o-linear-gradient(top, #5D5D5D, #4D4D4D);
  color: #ffffff;
  text-align: center;
  height: 18pt;
  padding: 1.5pt 5px;
}

#footerPush {
  height: 21pt;
}

div#footer a, div#footer a:visited, div#footer a:link {
  color: #ffffff;
}

div#footer a:hover {
  text-decoration: none;
}

/* The new platform build result divs */

div.platfBuildResult {
  width: 32%;
  min-width: 350px;
  border-radius: 2px 0px 0px 2px;
  float: left;
  margin-right: 6pt;
  margin-bottom: 6pt;
  border-right: 2px solid #1d1d1d;
}

div.platfBuildResult p {
  padding-left: 1%;
}

div.platfBuildResult p.commitMsg {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.platfBuildResult div.header {
  background-color: #5D5D5D;
  background: -moz-linear-gradient(top, #5D5D5D, #4D4D4D);
  background: -webkit-linear-gradient(top, #5D5D5D, #4D4D4D);
  background: -o-linear-gradient(top, #5D5D5D, #4D4D4D);
  color: white;
  padding-left: 5px;
  font-weight: bold;
  font-size: 10pt;
  padding-top: 4px;
  padding-bottom: 3px;
  border-bottom: 1px solid #3d3d3d;
  border-top: 2px solid #3d3d3d;
}

div.platfBuildResult div.lastResults div.half, div.platfBuildResult div.lastResults div.branch {
  margin-bottom: 2px;
}

div.platfSuccess {
  border-left: 7px solid #43B800;
}

div.platfWarning {
  border-left: 7px solid #E87E15;
}

div.platfProgress {
  border-left: 7px solid #108BDE;
}

div.platfFailure {
  border-left: 7px solid #B50707;
}

div.indivSuccess {
  border-top: 3px solid #43B800;
}

div.indivWarning {
  border-top: 3px solid #E87E15;
}

div.indivFailure {
  border-top: 3px solid #B50707;
}

div.indivUnknown {
  border-top: 3px solid #8A8A8A;
}


div.platfBuildResult div.half {
  width: 22%;
  float: left;
  padding-left: 1%;
}

div.platfBuildResult .lastResults {
  padding-bottom: 2px;
}

div.platfBuildResult .lastResults .branch {
  width: 53%;
  float: left;
  padding-left: 1%;
  border-top: 3px solid #8A8A8A;
}

div.platfBuildResult .lastResults .branch span, span.branch {
  border-radius: 2px 2px 2px 2px;
  color: white;
  font-size: 10pt;
  padding: 1px 4px 2px 4px; /* Top right bottom left */
  background-color: #0070BF;
  cursor: help;
}

div.platfBuildResult .lastResults .master span, span.master {
  background-color: #21A607;
}

div.platfBuildResult .buildInfo {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-bottom: 2px solid #1d1d1d;
}

div#resultsWrapper {
  width: 100%;
  float: left;
}